.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 40px;
  background-color: #fd4f52;
  border: none;
  color: #ffffff;
  box-shadow: 0px 4px 16px rgba(253, 79, 82, 0.25);
  border-radius: 24px;
}

/* .button:hover {
  background-color: #ffffff;
  color: #fd4f52;
} */

.icon {
  line-height: 0;
  margin-left: 13px;
  fill: #ffffff;
}

/* .heroButton {
  composes: button;
  width: 1605px;
} */
