.button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 130px;
  height: 40px;
  background-color: #fd4f52;
  border: none;
  box-shadow: 0px 4px 16px rgba(253, 79, 82, 0.25);
  border-radius: 24px;

  /* font-family: "Formular"; */
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  color: #ffffff;
}

.icon {
  line-height: 0;
  margin-left: 13px;
  fill: #ffffff;
}
