.section {
  background-color: #f8fafd;
  margin-bottom: 32px;
}

@media screen and (min-width: 768px) {
  .section {
    margin-bottom: 120px;
  }
}

.title {
  /* font-family: 'Formular'; */
  font-weight: 700;
  font-size: 28px;
  line-height: 1.21;
  color: #222222;
  text-align: center;
}

.visuallyHidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.wrap {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 32px;
  padding: 32px 0;
  flex-direction: column-reverse;
}

@media screen and (min-width: 768px) {
  .wrap {
    padding: 87px 0;
    flex-direction: row;
  }
}

.text {
  width: 100%;
  max-width: 653px;
  /* font-family: 'Formular'; */
  font-weight: 400;
  font-size: 18px;
  line-height: 1.78;
  color: #000000;
}

.mainLogo {
  width: 199px;
  height: 154px;
  margin-right: 80px;
}

@media screen and (max-width: 768px) {
  .wrap {
    flex-direction: column-reverse;
  }
  .mainLogo {
    margin-right: 0;
  }
}
