@import url("../../global.css");

.section {
  margin-bottom: 32px;
  color: #222222;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .section {
    margin-bottom: 83px;
  }
}

.title {
  font-family: "Formular";
  font-weight: 700;
  font-size: 24px;
  line-height: 1.21;
  color: #222222;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px) {
  .title {
    font-size: 28px;
    margin-bottom: 24px;
  }
}

.text {
  margin-bottom: 16px;
  margin-right: auto;
  margin-left: auto;
  font-family: "Formular";
  font-weight: 400;
  font-size: 24px;
  line-height: 1.21;
  color: #222222;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .text {
    max-width: 750px;
    margin-bottom: 120px;

    font-size: 18px;
    margin-bottom: 24px;
    text-align: justify;
  }
}

.form {
  min-height: 480px;
  max-width: 750px;
  margin-right: auto;
  margin-left: auto;
  padding: 43px 16px 18px 16px;
  text-align: center;
  background: #ffffff;
  box-shadow: 0px 4px 36px rgba(0, 0, 0, 0.1);
  border-radius: 30px;
}

@media screen and (min-width: 768px) {
  .form {
    padding: 113px 132px 80px 132px;
    min-height: 600px;
  }
}

.formWrap {
  position: relative;
}

.formInput {
  width: 100%;
  background: #ffffff;
  border: 1px solid #ff4d4d;
  box-sizing: border-box;
  border-radius: 30px;
  padding: 10px 16px;

  font-family: "Formular";
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

@media screen and (min-width: 768px) {
  .formInput {
    font-size: 20px;
    padding: 10px 30px;
  }
}

.nameInput {
  height: 54px;
  margin-bottom: 57px;
}

.emailInput {
  height: 54px;
  margin-bottom: 24px;
}

.textInput {
  composes: formInput;
  padding: 16px;
  resize: none;
  height: 162px;

  color: #757575;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
  .textInput {
    padding: 30px;
  }
}

.formLabel {
  /* margin-bottom: 4px; */
  position: absolute;
  top: -24px;
  left: 2px;
  /* font-family: "Formular"; */
  font-weight: 400;
  font-size: 14px;
  line-height: 1.21;
}

@media screen and (min-width: 768px) {
  .formLabel {
    font-size: 24px;
    top: -34px;
  }
}

.form .formButton {
  margin-right: auto;
  margin-left: auto;
}
